 <!--공지사항-->
    <div class="page-header">
        <h3>공지사항</h3>
    </div>
    <div class="row">
    	<% if @boardList.count>0 %>
    	<% @boardList.each do |boardRow| %>
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                	<a href="#" >
                    <h4>
                    	<p align=center>
                   		<a href="/viewWork?id=<%=boardRow.id%>&current_page=<%= @current_page %>&searchStr=None" title="<%= boardRow.text%>"><%= boardRow.title %></a>
                		</p>
 					</h4>
                    </br>
                    <small><%=boardRow.created_at %></small>
                    <p>게시물 미리보기 구현하기!</p>
                </div>
            </div>            
        </div>
        <% end %>
        <%else%>
         <p>NO DATA</p>
        <%end%>
    </div>

    <!--취업게시판-->
    <div class="page-header">
        <h3>취업게시판</h3>
    </div>
    <div class="row">
    	<% if @jboardList.count>0 %>
    	<% @jboardList.each do |boardRow| %>
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#" >
                    <h4>
                    	<p align=center>
                   		<a href="/viewWork?id=<%=boardRow.id%>&current_page=<%= @jcurrent_page %>&searchStr=None" title="<%= boardRow.text%>"><%= boardRow.title %></a>
                		</p>
                    </h4> 
                    	</br><small><%=boardRow.created_at %></small>
                    <p>게시물 미리보기 구현</p>
                    </a>
                </div>
            </div>
        </div>
        <% end %>
        <%else%>
         <p>NO DATA</p>
        <%end%>
    </div>
    <!--알림판-->
    <div class="page-header">
        <h3>알림판</h3>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#" >
                        <h4>SKT채용설명회 </br><small>2014-08-14</small></h4>
                        <p>SKT 채용브랜드 It's You 멘토링 설명회
                            일시 : 8.18(월) 14:00~18:00
                            장소 : 을지로 SKT T타워
                            대상 : 하반기 취업가능자 (기 졸업자 포함)
                            내용 : IT/SW 우수인재를 위한 하반기 SKT 채용프로그램 'IT's You' 에 여러분들을 초청합니다.
                            우수 참가자에게 서류전형합격, 면접직행패스 등 하반기 채용을 위한
                            여러가지 혜택을 제공하고 있으니 많은 참가 부탁드립니다.
                            문의사항이나 참가를 희망하는 분들은 운영사무국 010-9525-8549 (담당자 우병조)로
                            연락바랍니다.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>과정변경 안내 </br><small>2015-03-04</small></h4>
                    <p>아래와 같이 심화과정에서 일반과정으로 과정변경을 진행합니다.기한에 맞추어 신청서를 제출하시기 바랍니다.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>아두이노 반납 </br><small>2015-02-06</small></h4>
                    <p>학과에서 아두이노 대여한 학생은 반납하시기 바랍니다.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>2015년 2월 졸업예정자 </br><small>2014-11-27</small></h4>
                    <p>*2015년 2월 졸업예정자 중 졸업유예를 신청할 학생은 첨부의 졸업불가 사유서를 작성하여, 12.12(금) 17시까지 학과사무실로 제출하시면 됩니다.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
